<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<it.unipi.dii.aide.mircv.mircv_search_engine.config.ConfigurationParams>
    <rawCollectionPath>data/test_sample.tsv</rawCollectionPath>
    <loadedCollectionPath>data/loadedData.tsv</loadedCollectionPath>
    <stopwordsPath>config/stopwords-en.txt</stopwordsPath>
    <processedCollectionPath>data/processedCollection.db</processedCollectionPath>
    <documentIndexPath>data/documentIndex.db</documentIndexPath>
    <partialIndexPath>data/partialIndex.db</partialIndexPath>
    <vocabularyPath>data/vocabulary.txt</vocabularyPath>
    <invertedIndexPath>data/invertedIndex.txt</invertedIndexPath>
</it.unipi.dii.aide.mircv.mircv_search_engine.config.ConfigurationParams>